body{
    background-color: white;
}
li{
    list-style: none;
    margin: 10px;
    padding: 2px;
    color: black;
    font-size: large;
    
}

.lists{
    color: black;
}
#main{
   width: 100%; 
}
#left{
    float: left;
    width: 30%;
    /* background-color: grey;
    border-radius: 30px; */
}
#center{
    float: left;
    width: 40%;
    border: 2px solid rgb(245, 242, 242);
    /* background-color: grey; */
    height: 100%;
    
}
#right{
    float: right;
    width: 30%;
    background-color:rgb(245, 248, 250);
    border-radius: 30px;
    margin-top: 1px;
    
}
.fas fa-cog{
    float: left;
}
.btn1{
    color:  white;
    background-color:  #1da1f2;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 6px;
    position: relative;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #1da1f2;
    width: 250px;
    height: 50px;
}
.place{
    border: none;
}
#search{
    background-color: rgb(231, 228, 228);
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    position: relative;
    text-align: center;
    border-radius: 100px;
    width: 250px;
    height: 50px;
    border: 0px;
}
a:hover{
    border-radius: 80px;
    background-color: grey;
    text-decoration: none;
    height: 20px;
    
}
a:visited{
    color: none;
}
a{
    color: black;
}
#area{
    bottom: 9vh;
    margin-left: 40px;
    left: 10%;
    position: relative;
    width: 90%;
    font-size: 20px;
}

.timg{
    width: 20px;
    height: 20px;
    color:  #1da1f2;
    padding: 1px;
    margin-left: 10px;

}
#hr{
    border: none;
    background-color: grey;
    height: 10px;
}
#tweet{
    color:  white;
    background-color:  #1da1f2;
    box-shadow: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 6px;
    position: relative;
    text-align: center;
    border-radius: 100px;
    border: 1px solid #1da1f2;
    width: 80px;
    height: 35px;
    border-color: transparent;
}
#side{
    float: right;
}
.fa-star{
    float: right;
    padding-top: 0px;
    color: #1da1f2;
    font-size: 20px;
}
.fa-certificate{
    float:none;
    color: #1da1f2;
}
#badge{
    height: 15px;
    width: 15px;
    color: #1da1f2;
    float: left;
    
}
#pimg{
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.pstyl{
    padding-top: 0px;
    padding-bottom: 30px;
    padding-left: 10px;
    margin-top: 0px;
    line-height: 0.5;
    font-size: 13px;
}
.fa-twitter{
    color: #1da1f2;
    font-size: 30px;
}
.fa-comment{
    padding-right: 100px;
}
.fa-retweet{
    padding-right: 100px;
}
.fa-heart{
    padding-right: 100px;
}
.fa-arrow-alt-circle-down{
    padding-right: 100px;
}
video {
    width: 100%;
    height: auto;
  }
  #pmg {
    width: 100%;
    height: 300px;
    padding-bottom: 30px;
    padding-top: 0px;
  }
  #pstyl{
    padding-top: 15px;
    margin-left: 10px;
    font-size: 25px;
  }
  #bgright{
      margin-top: 0px;
      /* background-color: lightgray; */
      border-radius: 20px;
  }
  .fa-angle-down{
      font-size: 18px;
      float: right;
      margin-right: 10px; 
      opacity: 0.5;
  }
